.card {
  background-color: $white;
  @include card-border-radius;
  width: 28vw;
  min-width: 250px;
  margin: 2.5% 2.5%;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include shadow;


  &-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2em;
  justify-content: center;
  position: absolute;
  width: 85%;
  max-height: 100%;
  margin-top: 2%;
  }



  &-streak {
    background-color: $teal;
    @include card-animation-top(1.2s);
  }

  &-steps {
    background-color: $yellow;
    @include card-animation-left(1.2s);
  }

  &-friends {
    background-color: $pink;
    @include card-animation-right(1.2s);
  }

  &-miles {
    background-color: $white;
    @include card-animation-bottom(1.2s);
  }
}


.info-card > .number {
  font-size: 18px;
  overflow-wrap: anywhere;
}

.week-card {
  display: flex;
  flex-direction: column;
  background-color: $white;
  @include card-border-radius;
  height: auto;
  width: 600px;
  margin: 0 2.5% 2.5%;
}

.hydration-card {
  background-color: $teal;
  @include card-animation-bottom(1.2s);
}

.sleep-card {
  background-color: $pink;
  @include card-animation-left(1.2s);
}

.activity-card {
  background-color: $yellow;
  @include card-animation-right(1.2s);
}

.calendar-card {
  @include card-animation-top(1.2s);
}

.pika-lendar {
  font-size: .5em;
}

.pika-button{
  background-color: $white;
  border: none;
  height: 100%;
  width: 100%;
}

.is-disabled > * {
  color: $sidebar-grey;
}

.new-info {
width: 100%;
}







