.card {
  background-color: $white;
  @include card-border-radius;
  height: auto;
  width: 40%;
  margin: 2.5% 2.5%;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include shadow;


  &-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2em;
  justify-content: center;
  }



  &-streak {
    background-color: $teal;
    @include card-animation-top(1.2s);
  }

  &-steps {
    background-color: $yellow;
    @include card-animation-left(1.2s);
  }

  &-friends {
    background-color: $pink;
    @include card-animation-right(1.2s);
  }

  &-miles {
    background-color: $white;
    @include card-animation-bottom(1.2s);
  }
  
  


}



.week-card {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 15px;
  height: auto;
  width: 85%;
  margin: 0 2.5% 2.5%;

  #weekly-data-options {
      // display: flex;
      // flex-direction: column;
  }
}

.hydration-card {
  background-color: $teal;
  @include card-animation-top(1.2s);
}

.sleep-card {
  background-color: $pink;
  @include card-animation-left(1.2s);
}

.activity-card {
  background-color: $yellow;
  @include card-animation-right(1.2s);
}

.calendar-card {
  @include card-animation-bottom(1.2s);
}

// .calendar-container {
//   @include card-animation-bottom(1.4s);  
//   }

/* This controls the friends list on the left-sidebar.
As of right now, I can't see any other use for it.
Likely needs its name changed.*/

.historical-list-listItem {
  padding: .3em;
  font-weight: bold;
  font-family: sans-serif;
}





