//MEDIA QUERY SETUP

//MEDIA VARIABLES

$phone-width: 560px;
$tablet-width: 768px;
$desktop-width: 1024px;


//MIXIN MEDIA QUERY

@mixin phone {
  @media (min-width: #{$phone-width}) and 
  (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}