.sidebar-container {
  height: 150vh;
  position: relative;
  text-align: center;
  width: 18vw;
  
  @include sidebar-color;
}

.sidebar-friendslist-header {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  margin: .5em;
}

.sidebar-header-line {
  color: $white;
  margin: 1em 1em 0 1em;
  width: 80%;

  @include card-border;
}

.sidebar-header-userImage {
  border-radius: 50%;
  margin: 4px 8px 2px;
  width: 90%;
  
  @include name-animation;
}


.sidebar-buttons {
  align-content: center;
  height: 20px;
  margin-bottom: 6px;
  text-transform: uppercase;
  
    &-container {
    display: inline-grid;
    width: 100%;
    }
  }

.sidebar-body-friendContainer {
  display: flex;
  flex-direction: column;

  @include name-animation;
}

.sidebar-friendContainer-listItems {
  text-align: center;
}

.friend-label {
  color: $black;
  font-size: 2em;
  text-decoration: underline;
}

.friend {
  color: $white;
  font-weight: 400;
}

.profile-link {
  color: $black;
}




