.sidebar-container {
  @include sidebar-color;
  text-align: center;
  width: 16%;
  position: relative;
}

.sidebar-friendslist-header {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin: .5em;
}

/*  This is just the lines above and below the 'Friends'
list on the left sidebar */
.sidebar-header-line {
  color: $white;
  @include card-border;
  margin: 1em 1em 0 1em;
  width: 80%;
}

.sidebar-header-userImage {
  border-radius: 50%;
  width: 90%;
  margin: 4px 8px 2px;
  
  
  @include name-animation;
}

.sidebar-buttons {
  width: 100%;
  height: 30px;
  display: inline-grid;
  text-transform: uppercase;
  margin-bottom: 10px;
  align-content: center;
  }

.sidebar-body-friendContainer {
  display: flex;
  flex-direction: column;
  @include name-animation;
}

.sidebar-friendContainer-listItems {
  text-align: center;
}
/* What is this doing? Come back to this later */
.card-vertical-list {
  font-weight: lighter;
  font-style: italic;
  padding-left: 0;
  font-size: 1em;
}

.profile-link {
  color: $black;
}
