@import 'media-query';
@import 'variables';
@import 'sidebar-design';
@import 'card-design';
@import 'reset';
@use './node_modules/pikaday/css/pikaday.scss';

body {
  font-family: 'Open Sans';
  height: 100%;
  width: 100%;

  @include background;
}

.main {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
}

h1 {
  color: $black;
  margin: 10%;
  overflow: hidden;
  text-align: center;
  
  @include header-animation;
}

h2 {
  color: $white;
}

.app-message {
  display: flex;
  font-size: 1.8em;
  justify-content: center;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin-top: 1.5%;
  position: absolute;
  text-transform: capitalize;
  text-shadow: 5px 6px 3px $black;
  width: 85%;

  @include title-animation;
}

h3 {
  color: $white;
  width: 100%;
}

.page-info {
  font-size: 1.5em;
  margin: 2% 2% 0;
}

table, th, td {
 @include card-border;
 
}

table {
  width: 100%;
}

.historic-data {
  height: 10em;
}

.calendar-button {
    margin-left: 1.3%;
    width: 31%;
}

.number {
  color: $background-grey;
  font-size: 2em;
  font-weight: bolder;
}

.historical-week {
  color: $black;
  font-size: 1em;
  font-weight: bolder;
  margin: .5em;
  text-align: center;
}

.this-week {
  @extend .historical-week;
}

.new-info-button{
  border-radius: 12px;
  font-size: 1em;
  height: 30px;
  margin-left: 2%;
  width: 15vw;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  
  .main {
    display: block;
    postion: fixed;
    max-width: 100%;
  }

  body {
    overflow: hidden;
    max-width: 100%;
  }

  h1 {

  }

  .sidebar-container {
    display: inline-block;
    height: 28vh;
    position: relative;
    text-align: center;
    width: 100%;
    @include sidebar-color;

  }

  .sidebar-header-userImage {
    visibility: hidden;
    position:absolute;
  }

  .app-message {
    font-size: 1.2em; 
    justify-content: center; 
    line-height: 1.5; 
    margin: 15% 5% 0 5%; 
    position: absolute; 
    text-transform: capitalize; 
    width: 85%; 
    animation: moveInRight 1.2s ease-out; 
  }

  .card-container {
     width: 100%;
     height: 100%;
     margin-top: 20%;
  }

  .friend-label {
    visibility: hidden;
    position: absolute;
  }

  .friend {
    visibility: hidden;
    position: absolute;
  }

  .page-info {
    font-size: 1em;
    margin: 2% 2% 0;
  }

  .week-card {
    visibility: hidden;
    position: absolute;
  }

  .hidden {
    display: none;
  }


}


