@import 'variables';
@import 'sidebar-design';
@import 'card-design';
@use './node_modules/pikaday/css/pikaday.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans';
  height: 100%;
  width: 100%;

  @include background;
}

.main {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
}

h1 {
  color: $black;
  margin: 10%;
  overflow: hidden;
  text-align: center;
  
  @include header-animation;
}

h2 {
  color: $white;
}

.app-message {
  display: flex;
  font-size: 1.8em;
  justify-content: center;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin-top: 1.5%;
  padding: 0em, 1em;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 5px 6px 3px $black;
  width: 85%;

  @include title-animation;
}

h3 {
  color: $white;
  width: 100%;
}

.page-info {
  font-size: 1.5em;
  margin: 2em 1em 0;
}

table, th, td {
 @include card-border;
 
}

table {
  width: 100%;
}

.historic-data {
  height: 10em;
}

.calendar-button {
    margin-left: 1.3%;
    width: 31%;
}

.number {
  color: $background-grey;
  font-size: 1.5em;
  font-weight: bolder;

  &-pink {
    color: $pink;
  }

  &-yellow {
    color: #dbc451
  }

  &-teal {
    color: $teal
  }
}

.historical-week {
  color: $black;
  font-size: 1em;
  font-weight: bolder;
  margin: .5em;
  text-align: center;
}

.this-week {
  @extend .historical-week;
}

.new-info-button{
  border-radius: 12px;
  font-size: 1em;
  height: 30px;
  margin-left: 2%;
  width: 15vw;
}

.user-account {
    position: relative;
    margin-left: 2%;
    width: 100%;
  }


.app-message-mobile {
    @include hide-elements;
}

.hidden {
  display: none;
}

//MEDIA QUERY SMALL TABLET AND PHONE

@media only screen and (max-width: 620px) {
  
  .main {
    display: block;
    position: fixed;
    max-width: 100%;
    height: 100%;
    min-width: 321px;
    overflow-x: scroll;
  }
  
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  h1 {
    margin: 5%;
    font-size: .8em;
    overflow: hidden;
    text-align: center;
    animation: moveInLeft 1.2s ease-out;
  }

  .sidebar-container {
    box-shadow: 8px 14px 10px 0px $black;
    display: inline-block;
    height: 26vh;
    position: relative;
    text-align: center;
    width: 100%;
    
    @include sidebar-color;
  }

  .sidebar-header-userImage {
    @include hide-elements;
  }

  .sidebar-buttons {
  align-content: center;
  border-radius: 10px;
  font-size: .6em;
  height: 25px;
  margin: 0 1%;
  text-transform: uppercase;
  width: 29%;

    &-container {
    display: inline-block;
    width: 100%;
    margin-top: 10vh;
    
    }
  }

  .app-message-mobile {
    color: $black;
    font-size: 1.6em; 
    line-height: 2; 
    position: absolute; 
    text-transform: capitalize; 
    width: 100%; 
    visibility: visible;
    @include card-animation-right(1.2s);
  }

  .card-container {
     width: 100%;
     height: 100%;
  }

  .number {
    font-size: 1em;
  }

  .info-text > .number {
    font-size: .8em;
  }

  .new-info-button {
    border-radius: 12px;
    font-size: 1em;
    height: 30px;
    width: 35%;
    margin: 5% 10%;
  }

  .page-info {
    font-size: 1em;
    margin: 2% 2% 0;
  }

  .week-card {
    @include hide-elements;
  }

  .hidden {
    display: none;
  }

  .app-message {
    @include hide-elements;
  }

  .friend-label {
    @include hide-elements;
  }

  .friend {
    @include hide-elements;
  }

}










