// Is this working properly??
@use './node_modules/pikaday/css/pikaday.scss';
@import 'media-query';
@import 'variables';
@import 'sidebar-design';
@import 'card-design';
@import 'reset';



body {
  font-family: 'Open Sans';
  background-color: $background-grey;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  color: $black;
  height: 80px;
  padding-top: 10px;

  @include header-animation;
}

h2 {
  color: $white;
  width: 100%;
  margin: 0;
  padding: 0;
}

h3 {
  color: white;
  width: 100%;
}

#app-message {
  display: flex;
  justify-content: center;

  @include title-animation;

}

.main {
  display: flex;
  flex-direction: row;
  height: 1500px;
}

table, th, td {
 @include card-border;
 
}

.historic-data {
  height: 10em;
}

table {
  width: 100%;
}

.body-main-infoContainter {
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.calendar-button {
    width: 31%;
    margin-left: 1.3%;
}

.number {
  font-size: 2em;
  font-weight: bolder;
  color: $background-grey;
  font-kerning: normal;
}

.historical-week {
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  margin: .5em;
  color: $black;
}

.this-week {
  @extend .historical-week;
}

.hidden {
  display: none;
}



